.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
.link{
    cursor: pointer;
}
.link::after{
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
}
.form{

    max-width: 590px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.extra{
    margin-top: 88px;
    background-color:#383838 ;
    width: 100%;
    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}
.cont{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.cont div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.input{
    width: 100%;
    margin-bottom: 16px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #CDD2D7
}
.form label{
    align-self: flex-start;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 15px;
text-align: left;

}
.button{
    font-size: 16px;
    color: white;
    max-width: 386px;
    width: 100%;
    justify-self: left;
    background-color: #0D7AD9;
    min-height: 44px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 720px) {
    .footer{
        flex-direction: column;
        row-gap: 16px;
        justify-content: center;
    }
    .form,.extra{
        width: 100%;
    }
    .cont{
        flex-direction: column;
        align-items: flex-start;
    }
  }
  