.section {
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.h1 {
  font-family: Rubik;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
}

.image {
  object-fit: contain;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: none;
  border-radius: 16px;
  padding: 40px;
  margin-bottom: 32px;
  column-gap: 93px;
  box-shadow: 0px 0px 16px 0px #1E1E1E1A;
}



.firstColumn {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}
.firstColumn div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secondColumn {
  font-family: Roboto, sans-serif;
  transition: all 250ms ease-in-out;
}

.maxHeight {
  max-height: 291px;
  overflow: hidden;
  position: relative;
}

.maxHeight::before {
  content: "";
  display: block;
  top: 80%;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -59.32%,
    #ffffff 42.84%
  );
  bottom: 0;
  left: 0;
  right: 0;
}

.expanded {
  max-height: 100%;
  padding-bottom: 30px;
}
.respButton{
  height: 44px;
  max-width: 125px;
  width: 100%;
  justify-self: flex-end;
  height: Fixed (44px)px;
border-radius: 4px;
color: #ffffff;
border: none;
background: #383838;
cursor: pointer;

}
.btn {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
  left: 46%;
  color: #0D7AD9;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.reqButton{
  padding: 0;
  max-width: 180px;
  width: 100%;
  height: 35px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: #0D7AD9;
  cursor: pointer;
  align-self: center;
  font-family: Roboto;
font-size: 15px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 32px;
}

.fo{
  background-color: #F7F9FB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 720px) {
  .item {
    flex-direction: column;
  }
  .firstColumn div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .firstColumn div div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .firstColumn div h2,.respButton,.firstColumn div p,.reqButton{
    max-width: 720px;
    width: 100%;
  }
  .respButton{
    margin-top: 24px;
  }
  .h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }
  .image {
    max-width: 100%;
    align-self: center;
  }
  .btn {
    left: 42%;
  }
}
